@-webkit-keyframes dashoffset{
	0%{stroke-dashoffset:0}100%{
		stroke-dashoffset:-20px
	}
}
@-moz-keyframes dashoffset{
	0%{
		stroke-dashoffset:0
	}
	100%{
		stroke-dashoffset:-20px
	}
}
@-ms-keyframes dashoffset{
	0%{
		stroke-dashoffset:0
	}
	100%{
		stroke-dashoffset:-20px
	}
}
@keyframes dashoffset{
	0%{
		stroke-dashoffset:0
	}
	100%{
		stroke-dashoffset:-20px
	}
}
@-webkit-keyframes bouncing-stroke{
	0%,100%{
		stroke-width:5px
	}
	50%{
		stroke-width:10px
	}
}
@-moz-keyframes bouncing-stroke{
	0%,100%{
		stroke-width:5px
	}
	50%{
		stroke-width:10px
	}
}
@-ms-keyframes bouncing-stroke{
	0%,100%{
		stroke-width:5px
	}
	50%{
		stroke-width:10px
	}
}
@keyframes bouncing-stroke{
	0%,100%{
		stroke-width:5px
	}
	50%{
		stroke-width:10px
	}
}
#abycms-chart .animated.liveStroke {
	fill:none;
	stroke-width:2px;
	stroke-dasharray:5px;
	animation:dashoffset 1s linear infinite;
}
#abycms-chart .animated.livePoint {
	fill:none;
	stroke-width:2px;
	stroke-dasharray:5px;
	animation:dashoffset 1s linear infinite;
}