
.btn-file
{
	overflow:hidden;
	position:relative;
	vertical-align:middle
}
.btn-file > input
{
	position:absolute;
	top:0;
	right:0;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
	transform:translate(-300px,0) scale(4);
	font-size:23px;
	direction:ltr;
	cursor:pointer
}
.fileinput
{
	margin-bottom:9px
}
.fileinput .fileinput-preview img
{
	max-width: 100%
}
.fileinput .uneditable-input
{
	margin-bottom:0;
	vertical-align:middle;
	cursor:text
}
.fileinput i + .fileinput-filename,.fileinput .btn + .fileinput-filename
{
	padding-left:5px
}
.fileinput.fileinput-exists .close
{
	opacity:1;
	color:#dee0e4;
	position:relative;
	top:3px;
	margin-left:5px
}
.fileinput .thumbnail
{
	overflow:hidden;
	margin-bottom:5px;
	vertical-align:middle;
	text-align:center
}
.fileinput .thumbnail[data-trigger="fileinput"]
{
	cursor:pointer
}
.fileinput .thumbnail:before,.fileinput .thumbnail:after
{
	content:" ";
	display:table
}
.fileinput .thumbnail:after
{
	clear:both
}
.fileinput .thumbnail > img
{
	max-height:100%;
	display:block
}
.fileinput .btn
{
	vertical-align:middle
}
.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists
{
	display:none
}
.fileinput-inline .fileinput-controls
{
	display:inline
}
.fileinput .uneditable-input
{
	white-space:normal
}
.fileinput-new .input-group .btn-file
{
	border-radius:0 3px 3px 0
}
.fileinput-new .input-group .btn-file.btn-xs,.fileinput-new .input-group .btn-file.btn-sm
{
	border-radius:0 2px 2px 0
}
.fileinput-new .input-group .btn-file.btn-lg
{
	border-radius:0 3px 3px 0
}
.form-group.has-warning .fileinput .uneditable-input
{
	color:#574802;
	border-color:#ffd78a
}
.form-group.has-warning .fileinput .fileinput-preview
{
	color:#574802
}
.form-group.has-warning .fileinput .thumbnail
{
	border-color:#ffd78a
}
.form-group.has-error .fileinput .uneditable-input
{
	color:#ac1818;
	border-color:#ffafbd
}
.form-group.has-error .fileinput .fileinput-preview
{
	color:#ac1818
}
.form-group.has-error .fileinput .thumbnail
{
	border-color:#ffafbd
}
.form-group.has-success .fileinput .uneditable-input
{
	color:#045702;
	border-color:#b4e8a8
}
.form-group.has-success .fileinput .fileinput-preview
{
	color:#045702
}
.form-group.has-success .fileinput .thumbnail
{
	border-color:#b4e8a8
}
.input-group-addon:not(:first-child)
{
	border-left:0
}
.fileinput .uneditable-input,.fileinput-new .input-group .btn-file
{
	display:table-cell!important
}