/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('raleway-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('raleway-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('raleway-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('raleway-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('raleway-v11-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
body, input, select, textarea, button, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, b, span, i {
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6, b, strong
{
	font-weight: 600
}